/* berita page */
body {
  min-height: 2000px;
  background-color: #188266;
}

.navbar {
  font-family: 'montserrat', sans-serif;
}

.container {
  padding-top: 5rem;
}

#berita {
  padding-top: 5rem;
}

#carouselExampleIndicators {
  position: absolute;
  left: 5rem;
}
