body {
  min-height: 3800px;
  background-color: #188266;
}

.navbar {
  font-family: 'montserrat', sans-serif;
}

.jumbotron {
  padding-top: 5rem;
  min-height: 720px;
  background-image: url(Asset/Grading\ 1.jpg);
  background-size: cover;
  font-family: 'montserrat', sans-serif;
}

.title {
  position: absolute;
  top: 50%;
  right: 5%;
}

.container {
  padding-top: 5rem;
}

#tentangkami {
  min-height: 720px;
  background-color: white;
}

#sambutan {
  min-height: 720px;
}

h4 {
  text-align: justify;
}

#beritasekilas {
  min-height: 720px;
}
#galeri {
  min-height: 720px;
}
#Carousel {
  padding-top: 3rem;
}
#carouselExampleCaptions {
  position: absolute;
  right: 220px;
}
